.social-contact .ant-btn-circle {
    background-color: transparent;
    border: 1px solid #d9d9d9;
    color: #fff;
}

.social-contact .ant-btn-circle:hover {
    background-color: #fff;
    border-color: #fff;
    color: #005773;
}