.top-job-selector .ant-segmented-group {
    justify-content: space-evenly;
    height: 100%;
}

.top-job-selector .ant-segmented-group > label.ant-segmented-item {
    color: black;
}

.top-job-selector .ant-segmented-group > label.ant-segmented-item.ant-segmented-item-selected {
    color: #fff;
    background-color: #005773;
}

.top-job-selector div.ant-segmented-item-label {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    min-width: fit-content;
}

#mobile div.ant-segmented-item-label {
    width: fit-content;
}